.home{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://i.imgur.com/3FMVb3T.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-first-btn{
  background-color: rgba(55,55,55,0.6);
  color: white;
  &:hover{
    background-color: rgba(55,55,55,0.6);
  }
  &:active{
    color: white !important;
  }
}
.more{
  top: 55vh;
}
